[submodule "hardskills-fundamentals/module6-HTML-CSS-forms-flexbox-responsive/day6.3-CSS-flexbox/hardskills-fundamentals/module6-HTML-CSS-forms-flexbox-responsive/day6.3-CSS-flexbox/exercise-tech-gallery"]
	path = hardskills-fundamentals/module6-HTML-CSS-forms-flexbox-responsive/day6.3-CSS-flexbox/hardskills-fundamentals/module6-HTML-CSS-forms-flexbox-responsive/day6.3-CSS-flexbox/exercise-tech-gallery
	url = https://github.com/EderBorella/trybe-classes.git
